@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2? family= Outfit:wght@100 & display=swap');

:root{
    --cor01:hsl(0, 0%, 100%);
    --cor02:hsl(212, 45%, 89%);
    --cor03: hsl(220, 15%, 55%);
    --cor04:hsl(218, 44%, 22%);

    --fontpadrao:  'Outfit', sans-serif ;
    
}
body{
 font-family: var(--fontpadrao);
 background-color: var(--cor02);
}
main#container{
    height: 100vh;
    width: 100vw;
    background-color: var(--cor02);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}
div#box{
    height: 450px;
    width: 300px;
    padding: 10px 15px 2px 15px;
    border-radius: 10px;
    background-color:var(--cor01);
    box-shadow: 1px rgba(0, 0, 0, 0.329) ;
    
}
div#box > img {
   height: 65%;
   border-radius: 10px;
   
}
div#box > h2{
    font-size: 20px;
    color: var(--cor04);
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
div#box > p {
    font-size: 15px;
    color: var(--cor03);
    text-align: center;
}